{% extends 'bbmanager/bbmanager.html' %}
{% load widget_tweaks %}
{% block content %}

<br>
<div class="container-fluid">
<div class="row justify-content-center">
    <div class="col-xl-5 col-lg-5 col-md-7 col-sm-9">
        <div class="card border-primary mb-3"> 
            <div class="card-body p-5">
                <h1 class="fs-4 card-title fw-bold mb-4">Add Camp</h1>
        <form  method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            
            {% for field in form %}
            <div class="mb-3">
                <div class="form-floating">
                {% render_field field  id="formInput#text"  class="form-control" placeholder=field.label  %}
                <label for="floatingPassword">{{field.label}}{% if field.field.required %}<span style="color: red;">*</span>{% endif %}</label>
                <span > <h style="color: red;">{{field.errors}}</h></span>	
            </div>
            </div>
            {% endfor %}

            <div class="mb-3 d-flex">
                {% if type == 'add' %}
                <button type="submit" class="btn btn-primary w-100">
                    Add
                </button>
                {% else %}
                <button type="submit" class="btn btn-primary w-100">
                    update
                </button>
                {% endif %}

            </div>

    </div>
</div>
</div>
</div>
</section>
<br>

{% endblock %}
