{% extends 'bbmanager/bbmanager.html' %}
{% block content %}
<br>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-5 col-md-7 col-sm-9">
            <div class="card border-primary mb-3"> 
                <div class="card-body p-5">
                    <h1 class="fs-4 card-title fw-bold mb-4">Hospital Information</h1>
        <div class="mb-3">
            <label>Name:</label>
            <b>{{hospital.HospitalName}}</b>
            <br>
            <label>BranchNo:</label>
            <b>{{hospital.BranchNo}}</b>
            <br>
            <label>Representative:</label>
            <b>{{hospital.HospitalRepresentative}}</b>
            <br>
            <label>PhoneNo:</label>
            <b>{{address.Phone}}</b>
            <br>
            <label>Email:</label>
            <b>{{address.Email}}</b>
            <br>
            <label>City:</label>
            <b>{{address.City}}</b>
            <br>
            <label>Subcity:</label>
            <b>{{address.Subcity}}</b>
            <br>
            <label>Woreda:</label>
            <b>{{address.Woreda}}</b>
            <br>
            <label>PostOffice:</label>
            <b>{{address.PostOffice}}</b>
            <br>
            <div class="mb-3 d-flex">
            <a href="{% url 'hospitalrequest' 'notall' %}"><button  class="btn btn-primary w-100">OK</button>
            </a>
            </div>

        </div>
    </div>
</div>
</div>
</div>
</section>        
<br>

{% endblock %}