{% extends 'donor/donor.html' %}
{% load static %}
{% block content %}

<br>
{% for msg in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>{{ msg }}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Appointments</th>
        <th>
          <a href="{% url 'getappointments' 'all' %}">
            <button type="button" class="btn btn-primary btn-sm" style="background-color: red;">See All</button>
          </a>
        </th>
        <th colspan="2"></th> <!-- Empty cells to align with search form -->
      </tr>
      <tr>
        <form method="post" action="{% url 'donationrequest' 'searched' %}">
          {% csrf_token %}
          <th colspan="2">
            <select class="form-select form-select-sm" name='searchby' aria-label=".form-select-sm example">
              <option selected>Search by</option>
              <option value="Date">Date</option>
              <option value="Status">Status</option>
            </select>
          </th>
          <th>
            <div class="input-group">
              <input class="form-control" name='searched' placeholder="Search" style="width: 200px;">
          </th>
        </form>
        <th>
          <button type="submit" class="btn btn-primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
          </button>
      </div>
        </th> 
        
        <th></th> <!-- Empty cell to align with table headers -->
        <th></th> <!-- Empty cell to align with table headers -->
        <th></th> <!-- Empty cell to align with table headers -->
        <th></th> <!-- Empty cell to align with table headers -->
      </tr>
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Status</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% if appointments %}
      {% for appointment in appointments %}
      <tr>
        <td>{{ appointment.Date }}</td>
        <td>{{ appointment.Time }}</td>

        {% if appointment.status == 'in progress' %}
        <td><span class="badge bg-warning">In Progress</span></td>

        {% elif appointment.status == 'accepted' %}
        <td><span class="badge bg-success">Accepted</span></td>

        {% elif appointment.status == 'rejected' %}
        <td><span class="badge bg-danger">Rejected</span></td>
        {% endif %}

        <td>
          <a href="{% url 'cancelappointment' appointment.App_id %}">
            <button type="button" class="btn btn-primary btn-sm" style="background-color: red;">Cancel Appointment</button>
          </a>
          &nbsp;
          <a href="{% url 'updateappointment' appointment.App_id  %}">
            <button type="button" class="btn btn-primary btn-sm" style="background-color: red;">Update Appointment</button>
          </a>
        </td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      {% endfor %}
      <tr>
        {% if type == 'all' %}
        <td>
          <a href="{% url 'getappointmetns' 'notall' %}">
            <button type="button" class="btn btn-primary btn-sm" style="background-color: red;">less</button>
          </a>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        {% endif %}
      </tr>
      {% else %}
      <tr>
        <td colspan="7">No Appointment For Now</td>
      </tr>
      {% endif %}
    </tbody>
  </table>
</div>
<br>
{% endblock %}
