{% extends 'donor/donor.html' %}
{% load widget_tweaks %}
{% block content %}

<br>
<section class="h-100">
    <div class="container-fluid">

    {% for msg in messages%}
			<div class="alert alert-warning alert-dismissible fade show" role="alert">
				<strong>{{msg}}</strong>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
	{% endfor %}

    <form  method="POST">
        {% csrf_token %}
        {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %} 
               <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{ error|escape }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" ></button>
            </div>
            {% endfor %}
        {% endfor %}
        {% endif %}
    </form>
<div class="container h-100">
        <div class="col-xxl-8 col-xl-9 col-lg-10 col-md-11 col-sm-12">
<div class="card shadow-lg">
    <div class="card-body p-4">
        <p class="fs-4 card-title fw-bold mb-4 text-danger">Please answer these questions carefully as they will determine your eligibility for donation.<p>
        <form  method="POST" >
            {% csrf_token %}

            <!-- Render dynamic questions -->
            {% for field in form %}
                <div class="mb-3">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <div class="text-danger">
                            {% for error in field.errors %}
                                <small>{{ error }}</small>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% empty %}
                <div class="mb-3">
                    <p>No questions available at the moment.</p>
                </div>
            {% endfor %}

            <br>
            <div class="mb-3 d-flex justify-content-center">
                <button type="submit" class="btn btn-primary" style="min-width: 200px;">
                    {% if type == 'add'%}
                    Submit
                    {% else %}
                    Update
                    {% endif %}
                </button>
            </div>



        </form>
    </div>
</div>
</div>
</div>
</section>
<br>
{% endblock %}
