{% extends 'donor/donor.html' %}
{% block content %}

  <br>
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
      <div class="card text-center">
        <div class="card-body">
          <p class="card-text"><b>{{ request_no }}</b> <br>Request</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-center">
        <div class="card-body">
          <p class="card-text"><b>{{ accepted_no }}</b> <br>Accepted</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-center">
        <div class="card-body">
          <p class="card-text"><b>{{ pending_no }}</b> <br>Pending</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-center">
        <div class="card-body">
          <p class="card-text"><b>{{ rejected_no }}</b> <br>Rejected</p>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="table-responsive">
        <table class="table table-striped">
        {% include 'donor/donationrequestlist.html' %}
      </table>
    </div>
  </div>

{% endblock %}
