       <tr >
           <th>Date</th>
           <th>Status</th>
           <th></th>
           <th></th>
       </tr>
   </thead>
   <tbody>
     {% if bloodreq %}
     {% for req in bloodreq %}
     <tr> 
      <td>{{  req.Request_Date }}</td>
      {% if req.Status == 'in progress' %}
      <td> <span class="badge bg-warning">In Progress</span>
      {% elif  req.Status == 'accepted' %}
      <td>  <span class="badge bg-success">Accepted</span>
      {% elif  req.Status == 'rejected' %}
      <td><span class="badge bg-danger">Rejected</span>
      {% endif %}
      </td>
      <td></td>
      <td></td>
    </tr>
     {% endfor %}
     {% if type == 'all' %}
       {% if sender != 'dashbord' %}
       <tr>
       <td><a href="{% url 'bloodrequest' 'notall' %}"><button type="button" class="btn btn-primary btn-sm" style= "background-color: red;">less</button></a>
      </td>
      <td></td>
      <td></td>
      <td></td>
      </tr>
      {% else %}
      <tr>
        <td><a href="{% url 'hospitaldashbord' 'notall' %}"><button type="button" class="btn btn-primary btn-sm" style= "background-color: red;">less</button></a>
       </td>
       <td></td>
       <td></td>
       <td></td>
       </tr>
      {% endif %}
      {% endif %}
     {% else %}
     <tr> 
      <td>No Blood Request For Now </td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    {% endif %}  
     </tbody>
 </table>
 <br>