{% extends 'hospitalrep/hospitalrep.html' %}

{% block content %}
<br>
<div class="container-fluid">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
 
    <div class="col">
      <div class="card text-center">
        <div class="card-body">
        <p class="card-text"><b>{{ bloodrequest_no }}</b> <br>Request</p>
      </div>
    </div>
    </div>

    <div class="col">
      <div class="card text-center">
        <div class="card-body">
        <p class="card-text"><b>{{ accepted_no }}</b> <br>Accepted</p>
      </div>
    </div>
    </div>

    <div class="col">
      <div class="card text-center">
        <div class="card-body">
          <p class="card-text"><b>{{ pending_no }}</b> <br>Pending</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card text-center">
        <div class="card-body">
          <p class="card-text"><b>{{ rejected_no }}</b> <br>Rejected</p>
        </div>
      </div>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-striped">

    <thead>
        <tr>
          <th>Blood Request</th>
          <th><a href="{% url 'hospitaldashbord' 'all' %}"><button type="button" class="btn btn-primary btn-sm" style= "background-color: red;">See All</button></a>&nbsp;
           </th>
           <th></th>
           <th></th>
          </tr>
          {% include 'hospitalrep/bloodreqlist.html' %}

{% endblock %}