{% extends 'labtechnician/labtechnician.html' %}
{% load widget_tweaks %}
{% block content %}

<br>
<section class="h-100">
    {% for msg in messages%}
			<div class="alert alert-warning alert-dismissible fade show" role="alert">
				<strong>{{msg}}</strong>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
	{% endfor %}

    <form  method="POST">
        {% csrf_token %}
        {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %} 
               <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{ error|escape }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" ></button>
            </div>
            {% endfor %}
        {% endfor %}
        {% endif %}
<div class="container-fluid">
            <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
<div class="card shadow-lg">
    <div class="card-body p-5">
        <h1 class="fs-4 card-title fw-bold mb-4">Add Blood</h1>
        <form  method="POST" >
            {% csrf_token %}

            {% for field in form %}
            <div class="mb-3">
            <div class="form-floating">
                {% if field.label == 'QuantityOfBlood' %}
                {% render_field field  id="formInput#text"  class="form-control" placeholder=field.label value=blood_type %} 	
                <label for="floatingPassword">{{field.label}}( ML )</label>
                {% else %}
                {% render_field field  id="formInput#text"  class="form-control" placeholder=field.label %} 	
                <label for="floatingPassword">{{field.label}}</label>
                {% endif %}         
               
            </div>
            </div>
                {% endfor %}
            <br>
           
            <div class="mb-3 d-flex">
                <button type="submit" class="btn btn-primary w-100">
                    {% if type == 'update' %} Update {% else %}      Add {% endif %}
                </button>
            </div>
        </form>
    </div>
</div>
</div>
</div>
</section>












{% endblock %}