{% extends 'labtechnician/labtechnician.html' %}
{% load static %}
{% block content %}

<br>

  {% for msg in messages%}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>{{msg}}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}
<table class="styled-table">
    <thead>
        <tr>
            <th>Bloodtype</th>
            <th>PackNo</th>
            <th>Volume</th>
            <th>RegisterdDate</th>
            <th>ExpiaryDate</th>
            <th><a href="{% url 'getlabbloods' 'all' %}" ><button type="button" class="btn btn-primary btn-sm" style= "background-color: red;">Seeall</button></a> </th>
            <form method="post" action="{% url 'getlabbloods' 'searched' %}">
              {% csrf_token %}
            <th>
              <select class="form-select form-select-sm" name='searchby' aria-label=".form-select-sm example">
              <option selected>searchby</option>
              <option value="BloodType">BloodType</option>
              <option value="Volume">Volume</option>
              <option value="ExpirationDate">ExpiryDate</option>
              <option value="Expired">Expired</option>
            </select>
            </th>
            <th>
              <div class="input-group">
                <input class="form-control border-end-0 border rounded-pill" name='searched' placeholder="search" id="example-search-input">
                <span class="input-group-append">
                    <button type="submit" class="btn btn-outline-secondary bg-white border-start-0 border rounded-pill ms-n3">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                      </svg>
                    </button>
                </span>
              </div>
            </th>
            <th></th>
            </form>
          </tr>
    </thead>
    <tbody>
      {% if bloods %}
      {% for blood in bloods %}
        <tr>
          <td>{{ blood.BloodGroup }}</td>
          <td>{{ blood.PackNo }}</td>
          <td>{{ blood.QuantityOfBlood }}</td>
          <td>{{ blood.RegDate }}</td>
          <td>{{ blood.ExpDate }}</td>
          <td>
            {% now "Y-m-d" as todays_date %}
          {% if todays_date  >= blood.ExpDate|date:"Y-m-d" %}
          <img src="{% static 'images/logo/expired.jpeg' %}" alt="error" width="100">          
           {% else %}
           <img src="{% static 'images/logo/safeblood.jpg' %}" alt="error" width="100"> 
            {% endif %}
          </td>
          <td><a href="{% url 'updateblood' blood.Blood_id  %}"><button type="button" class="btn btn-primary btn-sm" style= "background-color:red;">Update</button></a>
          </td>
          <td><a href="{% url 'deleteblood' blood.Blood_id   %}"><button type="button" class="btn btn-primary btn-sm" style= "background-color: red;">Delete</button></a>
          </td>
          <td></td>
        </tr>
      {% endfor %}
      <tr>{% if type == 'all' %}
        <td><a href="{% url 'getlabbloods' 'notall' %}"><button type="button" class="btn btn-primary btn-sm" style= "background-color: red;">Shrink</button></a>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        {% endif %}</tr>
      {% else %}
      <tr>
        <td>NO Blood </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      {% endif %}
      
       
        <!-- and so on... -->
    </tbody>
  </table>
  <br>













{% endblock %}