{% extends 'labtechnician/labtechnician.html' %}
{% block content %}

<br>
<section class="h-100">
    <div class="container h-100">
        <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
<div class="card shadow-lg">
    <div class="card-body p-5">
        <h1 class="fs-4 card-title fw-bold mb-4">Donor Information </h1>
        <div class="mb-3">
            <label>Name:</label>
            <b>{{donor.Donorname}}</b>
            <br>
            <label>BloodGroup:</label>
            <b>{{donor.Bloodgroup}}</b>
            <br>
            <label>PhoneNo:</label>
            <b>{{address.Phone}}</b>
            <br>
            <label>Email:</label>
            <b>{{address.Email}}</b>
            <br>
            <label>City:</label>
            <b>{{address.City}}</b>
            <br>
            <label>Subcity:</label>
            <b>{{address.Subcity}}</b>
            <br>
            <label>Woreda:</label>
            <b>{{address.Woreda}}</b>
            <br>
            <label>PostOffice:</label>
            <b>{{address.PostOffice}}</b>
            <br>
            <a href="{% url 'labdonationrequest' 'notall' %}"><button type="button" class="btn btn-primary btn-sm" style= "background-color: red;">Ok</button>



        </div>
    </div>
</div>
</div>
</div>
</section>        
<br>

{% endblock %}