{% extends 'labtechnician/labtechnician.html' %}
{% load static %}
{% block content %}



<br>
  {% for msg in messages%}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>{{msg}}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
         <tr>
           <th>Donation Request History</th>
           <th><a href="{% url 'labdonationrequest' 'all' %}"><button type="button" class="btn btn-primary btn-sm" style= "background-color: red;">See All</button></a>
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
         </tr>
         <tr>
            <form method="post" action="{% url 'labdonationrequest' 'searched' %}">
              {% csrf_token %}
              <th colspan="2">
                <select class="form-select form-select-sm" name='searchby' aria-label=".form-select-sm example">
              <option selected>searchby</option>
              <option value="DonorName">DonorName</option>
              <option value="Phone">Phone</option>
              <option value="AppointmentDate">AppointDate</option>
              <option value="AppointmentStatus">AppointStatus</option>
            </select>
            </th>
            <th>
              <div class="input-group">
                <input type="search" id="form1" name='searched' placeholder="Search" class="form-control" />
               
            </th>
            <th> <button type="submit" class="btn btn-primary">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
              </svg>
            </button></th>
            </form>
            <th></th>
            <th></th>     
          </tr>

          <tr >
            <th>AppDate</th>
            <th>Status</th>
            <th>Appointment</th>
            <th>Donor</th>
            <th>Add</th>
            <th>Block</th>
        </tr>
    </thead>
    <tbody>
      {% if list %}
      {% for don,app in list %}
      {% if don  %}
      <tr>
        {% if app %} 
       <td>{{ app.Date }}</td>
       {% else %}
       <td>_______________</td>
       {% endif %}
       {% if don.Status == 'in progress' %}
       <td> <span class="badge bg-warning">In Progress</span>
       {% elif  don.Status == 'accepted' %}
       <td> <span class="badge bg-success">Accepted</span>
       {% elif  don.Status == 'rejected' %}
       <td> <span class="badge bg-danger">Rejected</span>
       {% endif %}
       </td>
       {% if don.Status == 'accepted' %}
       {% if app.status == 'accepted'  and  app.App_id|slugify not in finished %}
       <td> <span class="badge bg-success">Accepted</span> </td>
       <td><a href="{% url 'labdonorinfo' don.Donor_id %}"><button type="button" class="btn btn-primary btn-sm" style= "background-color: red;">Check Donor</button></a>
       </td>
       <td><a href="{% url 'addblood' don.Donor_id app.App_id  %}"><button type="button" class="btn btn-primary btn-sm" style= "background-color: red;">AddBlood</button></a></td>  
       {% if don.Donor_id|slugify not in deferringlist %}
       <td><a href="{% url 'blockdonor' don.Donor_id %}"><button type="button" class="btn btn-primary btn-sm" style= "background-color: red;">Block Donor</button></a>
       </td>
       {% else %}
       <td><a href="{% url 'unblockdonor' don.Donor_id %}"><button type="button" class="btn btn-primary btn-sm" style= "background-color: red;">Unblock Donor</button></a>
       </td>
       {% endif %}
       {% elif app.status == 'accepted'  and  app.App_id|slugify in finished  %}
       <td> <span class="badge bg-success">Finished</span></td>
      <td><a href="{% url 'labdonorinfo' don.Donor_id %}"><button type="button" class="btn btn-primary btn-sm" style= "background-color: red;">Check Donor</button></a>
         
        <td><button type="button" class="btn btn-primary btn-sm" style= "background-color: red;" disabled>AddBlood</button></td> 
        {% if don.Donor_id|slugify not in deferringlist %}
        <td><a href="{% url 'blockdonor' don.Donor_id %}"><button type="button" class="btn btn-primary btn-sm" style= "background-color: red;">Block Donor</button></a>
        </td>
        {% else %}
        <td><a href="{% url 'unblockdonor' don.Donor_id %}"><button type="button" class="btn btn-primary btn-sm" style= "background-color: red;">Unblock Donor</button></a>
        </td>
        {% endif %}
        {% elif app.status == 'rejected' %}
       <td>  <span class="badge bg-danger">Rejected</span>
       </td>
       <td><a href="{% url 'labdonorinfo' don.Donor_id %}"><button type="button" class="btn btn-primary btn-sm" style= "background-color: red;">Check Donor</button></a>
       </td>
       <td><button type="button" class="btn btn-primary btn-sm" style= "background-color: red;" disabled>AddBlood</button></a></td> 
       {% if don.Donor_id|slugify not in deferringlist %}
       <td><a href="{% url 'blockdonor' don.Donor_id %}"><button type="button" class="btn btn-primary btn-sm" style= "background-color: red;">Block Donor</button></a>
       </td>
       {% else %}
       <td><a href="{% url 'unblockdonor' don.Donor_id %}"><button type="button" class="btn btn-primary btn-sm" style= "background-color: red;">Unblock Donor</button></a>
       </td>
       {% endif %}
       {% elif app.status == 'in progress' %}
       <td> <span class="badge bg-warning">In Progress</span>
       </td> 
       <td><a href="{% url 'labdonorinfo' don.Donor_id %}"><button type="button" class="btn btn-primary btn-sm" style= "background-color: red;">Check Donor</button></a>
       </td>
       <td><button type="button" class="btn btn-primary btn-sm" style= "background-color: red;" disabled>AddBlood</button></a></td> 
       {% if don.Donor_id|slugify not in deferringlist %}
       <td><a href="{% url 'blockdonor' don.Donor_id %}"><button type="button" class="btn btn-primary btn-sm" style= "background-color: red;">Block Donor</button></a>
       </td>
       {% else %}
       <td><a href="{% url 'unblockdonor' don.Donor_id %}"><button type="button" class="btn btn-primary btn-sm" style= "background-color: red;">Unblock Donor</button></a>
       </td>
       {% endif %}
       {% else %}
       <td><span class="badge bg-light">Not Made</span></td>
      <td><a href="{% url 'labdonorinfo' don.Donor_id %}"><button type="button" class="btn btn-primary btn-sm" style= "background-color: red;">Check Donor</button></a>
      </td>
         <td><button type="button" class="btn btn-primary btn-sm" style= "background-color: red;" disabled>AddBlood</button></td> 
         {% if don.Donor_id|slugify not in deferringlist %}
         <td><a href="{% url 'blockdonor' don.Donor_id %}"><button type="button" class="btn btn-primary btn-sm" style= "background-color: red;">Block Donor</button></a>
         </td>
         {% else %}
         <td><a href="{% url 'unblockdonor' don.Donor_id %}"><button type="button" class="btn btn-primary btn-sm" style= "background-color: red;">Unblock Donor</button></a>
         </td>
         {% endif %}
         {% endif %}
    
       {% else %}
       <td><span class="badge bg-light">Not Made</span></td>
      <td><a href="{% url 'labdonorinfo' don.Donor_id %}"><button type="button" class="btn btn-primary btn-sm" style= "background-color: red;">Check Donor</button></a>
      </td>
         <td><button type="button" class="btn btn-primary btn-sm" style= "background-color: red;" disabled>AddBlood</button></td> 
         {% if don.Donor_id|slugify not in deferringlist %}
         <td><a href="{% url 'blockdonor' don.Donor_id %}"><button type="button" class="btn btn-primary btn-sm" style= "background-color: red;">Block Donor</button></a>
         </td>
         {% else %}
         <td><a href="{% url 'unblockdonor' don.Donor_id %}"><button type="button" class="btn btn-primary btn-sm" style= "background-color: red;">Unblock Donor</button></a>
         </td>
         {% endif %}
         {% endif %}   
     </tr>
     {% endif %}
      {% endfor %}

      <tr>{% if type == 'all' %}
        <td><a href="{% url 'labdonationrequest' 'notall' %}"><button type="button" class="btn btn-primary btn-sm" style= "background-color: red;">less</button></a>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        {% endif %}</tr>


      {% else %}
      <tr> 
       <td>No Donation Request For Now </td>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
     </tr>
     {% endif %}
 
        
      </tbody>
  </table>
  <br>
{% endblock %}