<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>About Us Section</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
	<link href="{% static 'styles/aboutus.css' %}" rel="stylesheet">
</head>	
<body>
	<div class="section">
		<div class="container">
			<div class="content-section">
                <div class="text-center my-5">
                    <img src="{% static 'images/logo/nbb.jpeg' %}" alt="logo" width="100">
                </div>
				<div class="title">
					<h2 >National Blood Bank Services</h2>
				</div>
				<div class="content">
					<p>
National Blood Bank Services Office's mission is to ensure the availability of safe and adequate supply of blood and blood products to all Transfusing Health facilities in Ethiopia.
National Blood Bank Services Office is the nonprofit governmental organization established with core function of community mobilization & education on voluntary blood donation, blood collection, laboratory processing, testing & production of blood, distribute to health facilities, promote appropriate clinical use of blood, research & capacity building in BTS.
The National Blood Transfusion Services (NBTS) was established in 1969 by Ethiopian Red Cross society since 2004 it has been transferred to Federal Ministry of Health Ethiopia, and entrusted with the responsibility of managing the Blood donors, collection, testing and transfusion of blood and blood products in Ethiopia. Its main center is located in Addis Ababa and it has also the responsibility to oversee, support and monitor the activities of regional blood bank in the country which are administratively under their respective regional health bureaus'.
The main departments of the NBTS directorate are;
</p>
<p>
1. Blood donor service management  
Responsible for mobilizing and recruiting blood donors; organizing blood collection sessions and collecting blood from blood donors. It is divided into central clinic (collects blood at the main office of the blood bank) and five mobile case teams which are responsible for conducting blood collection sessions outside the premises of the central blood bank.
</p>
<p>
2. Laboratory 
Responsible for screening the collected blood for transfusion transmissible infections (HIV,HBV,HCV and syphilis );carry out blood typing; prepare blood components(concentrated red cells, fresh frozen plasma, platelets and cryoprecipitate) and distribute safe blood for health institutions. The laboratory department has ABO, infectious screening and component preparation case teams.
</p>
<p>
3. Quality control and safety 
The major mission of this unit is to oversee the activities done by the different departments of the blood bank. Carries out assessments to ensure that each activity in the blood bank is performed according to the standard operating procedures and guidelines approved and put in place by the blood bank management. Also performs quality control tests for blood and blood products.
</p>
<p>
4. Human resource and General services 
Has the duty to recruit and hire the necessary staff for the blood bank according to the approved structure by the civil service.  It ensures all the supplies and materials needed for the day to day tasks of blood collection are available and maintained.
</p>
<p>
5. Marketing and communication department
This unit is established to coordinate the preparation of promotional and educational materials to promote voluntary blood donation in the country.
</p>

<p>
6. Data management 
- Responsible for recording of donor information and all the information that result during the collection, processing and distribution of blood and blood products. Works closely with all departments to ensure all donor related information are recorded and handled properly. This unit prepares weekly, monthly and annual performance reports of the national blood transfusion service.    
</p>
<p>
7. Pharmaceutical logistics procurement unit
This unit handles the procurement of supplies, reagents and test kits needed by the blood bank. Also controls the appropriate use of reagents and kits in the work process.
Supporting regional blood banks
The NBTS also has the responsibility to give supportive supervision to existing regional blood banks. The supportive supervision is done regularly by NBTS staff; identified needs and gaps are addressed by working closely with the respective regional health bureaus. It also supports regions in building new blood banks according to the national strategy.
</p>
<p>
Contact Information
<br>
P.O. Box 1234
<br>
Addis Ababa, Ethiopia
<br>
Telephone: +251 11 515 1558
<br>
Fax: +251 					
</p>
				</div>
				<div class="social">
					<a href="https://www.facebook.com/ENBBS/"><i class="fab fa-facebook-f"></i></a>
					<a href="https://twitter.com/ethiopianblood/"><i class="fab fa-twitter"></i></a>
					<a href="https://www.instagram.com/nbbs.ethiopia/"><i class="fab fa-instagram"></i></a>
				</div>
			</div>
		</div>
        <br>
        <br>
	</div>


	
</body>
</html>