{% extends 'base.html' %}
{% load static %}
{% block content %}
<title>Forgot Password</title>

	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-sm-center h-100">
				<div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
					<div class="text-center my-5">
						<img src="{% static 'images/logo/nbb.jpeg' %}" alt="logo" width="100">
					</div>
					<div class="card shadow-lg">
						<div class="card-body p-5">
              <form method="POST" action="." class="box">
                {% csrf_token %}

                <h2 class="has-text-centered mb-5 is-size-3">Reset Password</h2>

                <div class="mb-3">
									<label class="mb-2" for="email">E-Mail Address</label>
									<input id="email" type="email" class="form-control" name="email" value="" required autofocus>
									
								</div>

								<div class="d-flex align-items-center">
									<button type="submit" class="btn btn-primary ms-auto">
										Send Link	
									</button>
								</div>
              </form>
						</div>
						<div class="card-footer py-3 border-0">
							<div class="text-center">
								Remember your password? <a href="#" onclick="javascript:window.history.back(-1);return false;" class="text-dark">Login</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
