#bg{
    background-image: url('/static/images/background/bg2.jpg');
    background-repeat: no-repeat;
    background-size: 300px 300px;
    background-position: center;
    background-attachment: fixed;
    background-color: white;
}

@media (max-width: 991.98px) { /* Applies to screens smaller than 'lg' breakpoint */
    #navmenu {
        margin-top: 10px; /* Adjusted as needed */
    }
}

.nav-item:hover{
    border: 20px;
}

.container {
    background-color: white
}

.navbar-brand {
    color: black;  
}

.navbar-toggler {
  margin-left: auto;
}
