{% extends 'nurse/nurse.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="container-fluid">
    <br>
    {% for msg in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{ msg }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    <br>
    <div class="row justify-content-center align-items-center">
        <div class="col-lg-8">
            <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                <div class="card-body p-4">
                    <h3 class="fw-normal mb-4" style="color: #4835d4;">Health Questions</h3>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="row g-3">
                            {% for field in form %}
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label" for="formInput#text">{{ field.label }}</label>
                                    {% render_field field id="name" class="form-control form-control-lg" %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3 d-flex">
                                    {% if type == 'add' %}
                                    <button type="submit" class="btn btn-danger w-100">
                                        Add
                                    </button>
                                    {% else %}
                                    <button type="submit" class="btn btn-danger w-100">
                                        Update
                                    </button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
