{% extends 'nurse/nurse.html' %}
{% block content %}

<br>

{% for msg in messages%}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>{{msg}}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
<table class="styled-table">
    <thead>
         <tr>
           <th>Appointment Request</th>
           <th><a href="{% url 'checkappointment' 'all' %}"><button type="button" class="btn btn-primary btn-sm" style= "background-color: red;">See All</button></a>
            </th>
            <th>
              <form method="post" action="{% url 'checkappointment' 'searched' %}">
                {% csrf_token %}
                <br>
                <select class="form-select form-select-sm" name='searchby' aria-label=".form-select-sm example">
                <option selected>searchby</option>
                <option value="DonorName">DonorName</option>
                <option value="Phone">Phone</option>
                <option value="Date">Date</option>
              </select><br></th>
              <th>
                <div class="input-group">
                  <div class="form-outline">
                    <input type="search" id="form1" name='searched' placeholder="search" class="form-control" />
                  </div>
                  <button type="submit"  class="btn btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                  </button>
                </div>
            </th> 
          </tr>

          <tr >
            <th>Donor_info</th>
            <th>Date</th>
            <th>Time</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
      {% if appointments %}
      {% for appointment in appointments %}
       <tr> 
        <td><a href="{% url 'donoraddress' appointment.Donor_id %}"><button type="button" class="btn btn-primary btn-sm" style= "background-color: red;">Check Donor</button></a></td>
          <td>{{ appointment.Date }}</td>
         <td>{{ appointment.Time }}</td>
         {% if appointment.status == 'in progress'  %}
         <td><a href="{% url 'confirmappointment' appointment.App_id 'accept'  %}"><button type="button" class="btn btn-success">Accept</button></a>&nbsp;<a href="{% url 'confirmappointment' appointment.App_id 'reject'  %}"><button type="button" class="btn btn-danger">Reject</button></a></td>      
         {% elif appointment.status == 'accepted' %}
         <td><a href="{% url 'confirmappointment' appointment.App_id 'reject'  %}"><button type="button" class="btn btn-success"    onmouseover="this.innerHTML='Reject';this.style.backgroundColor='red';"
          onmouseout="this.innerHTML='Accepted';this.style.backgroundColor='green';">Accepted</button></a></td>      
         {% elif appointment.status == 'rejected' %}
         <td><a href="{% url 'confirmappointment' appointment.App_id 'accept'  %}"><button type="button" class="btn btn-danger"     onmouseover="this.innerHTML='Accept';this.style.backgroundColor='green';"
          onmouseout="this.innerHTML='Rejected';this.style.backgroundColor='red';">Rejected</button></a></td>
         {% endif %}
        </tr>
      
      {% endfor %}
      {% else %}
      <tr> 
       <td>No Appointment Request Now </td>
       <td></td>
       <td></td>
       <td></td>


     </tr>
     {% endif %}
 
        
      </tbody>
  </table>
  <br>
{% endblock %}
