{% extends 'nurse/nurse.html' %}
{% block content %}

<br>
{% for msg in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{ msg }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Donation Request</th>
                <th><a href="{% url 'donorrequest' 'all' %}"><button type="button" class="btn btn-primary btn-sm"
                            style="background-color: red;">See All</button></a>
                <th></th>
            </tr>
            <form method="post" action="{% url 'donorrequest' 'searched' %}">
                {% csrf_token %}
                <tr>
                    <th colspan="2">
                        <select class="form-select form-select-sm" name="searchby" aria-label=".form-select-sm example">
                            <option selected>Search by</option>
                            <option value="DonorName">Donor Name</option>
                            <option value="Phone">Phone</option>
                            <option value="RequestDate">Request Date</option>
                            <option value="RequestStatus">Request Status</option>
                        </select>
                    </th>
                    <th colspan="2">
                        <div class="input-group">
                            <input type="search" id="form1" name="searched" placeholder="Search"
                                class="form-control" />
                            
                    </th>
                    <th>
                        <button type="submit" class="btn btn-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-search" viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg>
                        </button>
                    </div>
                    </th>
                </tr>
            </form>
            <tr>
                <th>Request_Date</th>
                <th>Request_time</th>
                <th>Donor Address</th>
                <th>Check Request</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% if donationrequest %}
            {% for dr in donationrequest %}
            <tr>
                <td>{{ dr.Request_Date }}</td>
                <td>{{ dr.Request_time }}</td>
                <td><a href="{% url 'donoraddress' dr.Donor_id 'request' %}"><button type="button"
                            class="btn btn-primary btn-sm" style="background-color: red;">Check Donor</button></a></td>
                <td><a href="{% url 'checkrequest' dr.Result_id %}"><button type="button"
                            class="btn btn-primary btn-sm" style="background-color: red;">Check Request</button></a></td>
                <td>
                    {% if dr.Status == 'in progress' %}
                    <span class="badge bg-warning">In Progress</span>
                    {% elif  dr.Status == 'accepted' %}
                    <span class="badge bg-success">Accepted</span>
                    {% elif  dr.Status == 'rejected' %}
                    <span class="badge bg-danger">Rejected</span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            <tr>
                {% if type == 'all' %}
                <td><a href="{% url 'donorrequest' 'notall' %}"><button type="button"
                            class="btn btn-primary btn-sm" style="background-color: red;">less</button></a></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                {% endif %}
            </tr>
            {% else %}
            <tr>
                <td>No Donation Request For Now </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>
<br>
{% endblock %}
